/* form{
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 50px;
    margin: 0 auto;
    width: 50%;
    box-shadow: 0 0 10px 0 #000;
} */

form{
    background-color: lime;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    height: 90%;
    border-radius: 50px;
    box-shadow: 0 0 10px 0 red;
}
h1,h2,h3,h4,h5,h6 {
    color: red;
}
input[type="submit"]{
    background-color: orange;
    color: white;
    font-weight: bolder;
    font-size: larger;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
